<section id="section_qrcode">
    <div class="row">
        <div class="col-md-6">
            <h4>PaaS 智能市集</h4>
            <h4>Line官方帳號</h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/paas-hw2-taipeitech.appspot.com/o/line_QRcode.png?alt=media&token=c75440af-b93c-4622-975f-b489c1924bde"
                class="img_qrcode img-thumbnail">
        </div>
        <div class="col-md-6">
            <h4>PaaS 智能市集</h4>
            <h4>WeChat官方帳號</h4>
            <img src="https://firebasestorage.googleapis.com/v0/b/paas-hw2-taipeitech.appspot.com/o/wechat_QRcode.jpg?alt=media&token=08d948e7-45ae-4f78-be51-64e5a6ae1eba"
                class="img_qrcode img-thumbnail">
        </div>
    </div>
</section>